.market-price {
  position: relative;
}
.market-price .market-price-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
}
.table-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.empty-operations {
    padding: 1.25rem 1.5rem;
}
.validation-error {
  font-size: .8rem;
}
.operation-type {
  width: 130px;
}
.custom-control-label::before {
  left: -2rem !important;
}
.custom-control-label::after {
  left: -2rem !important;
}