<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/']">
      <img src="./assets/img/logo.png" class="navbar-brand-img" alt="...">
    </a>
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLinkActive="active" [routerLink]="['/general']" class="nav-link">
              <i class="ni fas fa-desktop text-default"></i>
              General
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" [routerLink]="['/assets/index']" class="nav-link">
              <i class="ni fas fa-chart-bar text-default"></i>
              My investments
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" download="inv-tracker-save.json" [href]="databasePath">
              <i class="ni fas fa-file-download text-default"></i>
              Export portfolio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openImportModal(importDatabaseFile);" style="cursor: pointer;">
              <i class="ni fas fa-file-download text-default"></i>
              Import portfolio
            </a>
          </li>
      </ul>
      <hr class="my-3">
      <h6 class="navbar-heading text-muted">Top investments</h6>
      <ul class="navbar-nav mb-md-3">
        <li *ngFor="let assetLink of menuTopAssets" class="nav-item">
          <a class="nav-link" [routerLink]="[assetLink.path]">
            {{ assetLink.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="main-content">
  <router-outlet></router-outlet>
  <div class="container-fluid">
    <footer class="footer">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-12">
          <div class="text-right text-muted">
            Unjex.com
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<!-- Modals -->

<ng-template #importDatabaseFile let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title-default">Import portfolio</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      The current portfolio will be replaced with the import. Do you wish to continue?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="d()">Cancel</button>
      <button type="button" class="btn btn-primary ml-auto" (click)="c()">Import</button>
    </div>
  </div>
</ng-template>